body {
	 background-color: #000000;
	 color: #cccccc;
	 margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 1440px){
}

@media screen and (min-width : 960x) and (max-width : 1439px){
	img {
		width: 50vw;
		max-width: 50vw;
		height: auto;
	}
	.model {
		width: 50vw;
		max-width: 50vw;
	}
}

@media screen and (min-width : 0px) and (max-width : 959px){
	img {
		width: 100vw;
		max-width: 100vw;
		height: auto;
	}
	.model {
		width: 100vw;
		max-width: 100vw;
	}
}

#timestamp {
	color: #999; 
	font-family: monospace; 
	font-size: 16pt; 
	position: absolute; 
	z-index: 0; 
}
